@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 25% 94%;
    --foreground: 225 15% 20%;

    --card: 235 25% 94%;
    --card-foreground: 225 15% 20%;

    --popover: 235 25% 94%;
    --popover-foreground: 225 15% 20%;

    --primary: 300 63% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 50% 90%;
    --secondary-foreground: 225 15% 25%;

    --muted: 220 18% 87%;
    --muted-foreground: 225 10% 50%;

    --accent: 50 92% 60%;
    --accent-foreground: 0 0% 15%;

    --destructive: 0 70% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 20% 85%;
    --input: 225 20% 85%;
    --ring: 220 60% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 225 15% 15%;
    --foreground: 0 0% 92%;

    --card: 225 15% 15%;
    --card-foreground: 0 0% 92%;

    --popover: 225 15% 15%;
    --popover-foreground: 0 0% 92%;

    --primary: 300 63% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 35% 25%;
    --secondary-foreground: 0 0% 92%;

    --muted: 220 18% 30%;
    --muted-foreground: 220 20% 70%;

    --accent: 50 92% 60%;
    --accent-foreground: 0 0% 92%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 92%;

    --border: 220 20% 30%;
    --input: 220 20% 30%;
    --ring: 220 40% 70%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-2xl md:text-3xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  }
}
